/* *{
    margin: 0;
    padding: 0;
}

body{
    margin: 5%;
    padding: 5%;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 10px;
}

.child1{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 2;
}

.child2{
    background-color: red;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 5;
    z-index: 1;
}

.child3{
    background-color: orange;
}

.child4{
    background-color: yellow;
}

.child5{
    background-color: brown;
} */